@use "../abstracts/colors";
@use "../abstracts/breakpoints" as bp;
@use "../abstracts/tooltip";
$mobile-max: bp.$mobile-max;
$desktop-min: bp.$desktop-min;
$share-active-color: colors.$text-primary;
$share-active-color-bg: colors.$bg-secondary;

$large-space: 46px;
$medium-space: 32px;
$small-space: 15px;
$border-radius: 10px;

.article-preview {
    position: relative;

    background-color: white;
    display: grid;
    border-radius: $border-radius;

    &__image-section {
        display: flex;
        overflow: hidden;
        width: 100%;

        img {
            object-fit: cover;
        }
    }

    &__content-section {
        padding-top: $medium-space;
        padding-bottom: $small-space;
    }

    &__footer-section {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        position: relative;
        overflow: visible;
    }

    .share {
        display: none;
    }

    &.share-active {
        .share-button {
            background-color: $share-active-color;

            img {
                filter: brightness(300%);
            }
        }
    }

    @media(max-width: $mobile-max) {
        width: 342px;
        grid-template-rows: 220px auto 72px;
        grid-template-columns: 100%;
        overflow: hidden;

        &__image-section {
            img {
                width: 100%;
            }
        }

        &__content-section {
            padding-left: $medium-space;
            padding-right: $medium-space;
        }

        &__footer-section {
            padding-left: $medium-space;
            padding-right: $medium-space;
        }

        .share-active & {
            &__footer-section {
                background-color: $share-active-color-bg;

                .article-footer {
                    display: none;
                }

                > .share {
                    display: flex;
                }
            }

            .share-button {
                background-color: $share-active-color;

                img {
                    filter: brightness(300%);
                }
            }
        }
    }

    @media (min-width: $desktop-min) {
        grid-template-columns: 322px 1fr;
        grid-template-rows: 214px 106px;
        width: 820px;
        height: 320px;

        &__content-section {
            padding-left: $large-space;
            padding-right: $large-space;
        }

        &__image-section {
            overflow: hidden;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            grid-row-start: 1;
            grid-row-end: 3;

            img {
                height: 100%;
            }
        }

        &__footer-section {
            padding-bottom: $small-space;
            padding-left: $large-space;
            padding-right: $large-space;
        }

        &.share-active {
            .share-button {
                .share {
                    @include tooltip.tooltip("up", 250px, colors.$bg-secondary);
                }
            }
        }
    }
}