@use "../abstracts/colors";

$color: colors.$offstage;

.share {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $color;
}