$color-bg-primary: hsl(210, 46%, 95%);
$color-bg-secondary: hsl(217, 19%, 35%);

$color-text-primary: hsl(214, 17%, 51%);
$color-text-secondary: hsl(217, 19%, 35%);

$color-offstage: hsl(212, 23%, 69%);